#main-h {
    background-color: #a9a9a9;
    padding: 10px 20px;
    color: #333;

    position: fixed;
    width: 100%;
}
body {
    padding: 0;
    margin: 0px;
}
html{
    height: 100%;
    margin-top: 0;
    background-color: whitesmoke;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }
#menu {
    position: fixed;
    padding: 10px 20px;
    right:  20px;
    top: 10px;
    height: 12.8px;
    font-size: large;
    border: 2px solid #333;
    background-color: #a9a9a92a;;
    transition: 300ms;
}
#top-s{
    height:  56px;
}
#menu:hover{
    background-color: #cac9c9;
    scale: 1.2;
}
#slide{
    background-color: #333;
    height: 100%;
    width: 300px;
    position: fixed;
    right: -300px;

    transition: 300ms;

}
ul{
    list-style-type: none;
}
.s{
    color:#a9a9a9;
    padding: 10px;
    margin : 3px;
}
.s:hover{
    background-color: grey;
}
#checkbox1{
    display: none;
}
#checkbox1:checked +#slide {
    right: 0px;
}
#Me{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    padding-left: 100px;
    padding-top: 100px;
    display: inline-block;
}
#p-next-p{
    display: inline-block;
    padding-left: 150px;
}
.hed{
    text-decoration: underline;
    margin: 5px;
}
.about{
    color:#a9a9a9;
    padding: 5px;
}
.SK{
    color:#a9a9a9;
    padding: 5px;
}
#Abim{
    margin-bottom: 45px;
    padding: 25px;
    border: 2px solid #333;
    width: 300px;
}
#pro{
    margin: 45px;
    padding: 25px;
    border: 2px solid #333;
    width: 300px;
}
.projects{
    width: 300px;
    height: 150px;
    background-color: rgb(65, 50, 50);
    margin: 50px;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    color:#a9a9a9;
    text-align: center;
}
#contact{
    margin: 45px;
    padding: 25px;
    border: 2px solid #333;
    width: 300px;
}
.cnt{
    color:#666;
}