#main-h {
    background-color: rgba(104, 69, 69, 0.762);
    padding: 10px 20px;
    color: whitesmoke;
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-shadow: 10px,5px,3px,#6e6e6e;
    backdrop-filter: blur(5px);
}
body {
    padding: 0;
    margin: 0px;
}
html{
    height: 100%;
    margin-top: 0;
    background-color: whitesmoke;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }
#menu {
    position: fixed;
    padding-top: 7px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    right:  20px;
    top: 10px;
    height: 12.8px;
    font-size: large;
    color: #a9a9a9b2;
    border: 2px solid #a9a9a9;
    background-color: rgba(245, 245, 245, 0.77);
    transition: 600ms;
    text-align: center;
    z-index: 1001;
}
#top-s{
    height:  56px;
    z-index: 999;
    box-shadow: 10px,5px,3px,#6e6e6e;
    
}
#menu:hover{
    background-color: rgb(104, 69, 69);
    scale: 1.2;
}
#slide{
    z-index: 998;
    background-color: rgb(230, 230, 230);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 300px;
    position: fixed;
    right: -300px;
    transition: 300ms;
}
ul{
    list-style-type: none;
}
.s{
    color:#a9a9a9;
    padding: 10px;
    margin : 3px;
    transition: 600ms;
}
.s:hover{
    background-color: rgb(104, 69, 69);
}
#checkbox1{
    display: none;
}
#checkbox1:checked +#slide {
    right: 0px;
    box-shadow: 20px 20px 20px grey;
}
#Me{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 100px;
    padding-left: 100px;
    padding-top: 50px;
    margin-bottom: 100px;
    display: inline-block;
}
#p-next-p{
    display: inline-block;
    padding-left: 150px;
    margin-left: 150px;
    margin-top: 100px;
    
}
.hed{
    text-decoration: underline;
    color: rgb(104, 69, 69);
    margin: 5px;
}
.about{
    color:#a9a9a9;
    padding: 5px;
}
.SK{
    color:#a9a9a9;
    padding: 5px;
}
#Abim{
    margin-bottom: 45px;
    padding: 25px;
    border: 3px solid rgb(104, 69, 69);
    color:rgb(104, 69, 69);
    border-radius: 5px;
    width: 300px;
    background-color: whitesmoke;
    text-align: center;
    transition: 600ms;
}
#Abim:hover{
    border-color: rgb(171, 60, 60);
    color: rgb(171, 60, 60);
}
#pro{

    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    padding: 22px;
    text-align: center;
    border: 3px solid #a9a9a9;
    border-radius: 5px;
    width: 300px;
    background-color: whitesmoke;
    color: #a9a9a9;
    transition: 300ms;
}
.projects{
    width: 300px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 50px 100px;
    border: 1px solid #a9a9a9;
    display: inline-block;
    transition: 600ms;
    
}
.projects:hover{
    scale: 1.2;
    background-color: rgb(104, 69, 69);
}
#contact{
    padding: 10px;
    color: #a9a9a9;
}
.cnt{
    color: #a9a9a9;
    transition: 600ms;
}
.cnt:hover{
    color: rgb(191, 26, 26);
}
.kay{
    color:#a9a9a9;
    padding: 10px;
    margin : 3px;
    text-decoration: none;
}
.pro-text{
    text-align: center;
    font-size: 50px;
    color:#a9a9a9;
    margin-top: 15px;
}
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 110px 12px;
    position: absolute;
    top: 0;
}
.slides{
    margin-left: 15%;
    display: block;
    animation: fade;
    animation-duration: 500ms;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
#prev {
    color:white;
    background-color: #6666665b;
    font-size: 50px;
    position: absolute;
    left: 15%;
    top: 250px;
    transition: 600ms;
    border-radius: 0px 7px 7px 0px;
    padding: 10px 10px 20px 10px;
    z-index: 500;
}
#prev:hover{
    background-color: rgba(104, 69, 69, 0.738);
}

#next {
    color:white;
    background-color: #6666665d;
    font-size: 50px;
    position: absolute;
    right: 15%;
    top: 250px;
    border-radius: 7px 0px 0px 7px;
    transition: 600ms;
    padding: 10px 10px 20px 10px;
    
    z-index: 501;
}
#next:hover{
    background-color: rgba(104, 69, 69, 0.737);
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    border: 2px solid #684545;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover{
    background-color:#666;
}
.img-s{
    
    width: 82.288%;
    height: 500px;
    object-fit: cover;
}
#who-am-i{
    font-size: x-large;
    padding: 100px;
    color:rgb(104, 69, 69);
}

#gif-c{
    padding-left: 100px;
    display: inline-block;
}
#img-g{
    object-fit: cover;
    width: 300px;
    height: 300px;
}
#cont-info{
    margin-top: 150px;
    background-color: rgb(104, 69, 69);
    box-shadow:-3px -1px 5px rgb(119, 119, 119);
}
.shadow{
    box-shadow: 0px 3px 5px rgb(119, 119, 119);
}
#pro-a{
    text-decoration: none;
}
#pro:hover{
    border-color: rgb(104, 69, 69);
    color: rgb(104, 69, 69);
}
